<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
豆瓣电影排行榜
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <meta name="keywords" content="电影排行榜、新片排行榜、豆瓣电影250"/>
    <meta name="description" content="豆瓣电影排行榜,提供最新电影排行榜、本周电影口碑榜和豆瓣电影TOP250" />

    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
    .icon-on-air{
        font-size:12px;
        margin-left:15px;
        background-color:#71B5DE;
        color:#fff;
        padding:3px 5px;
        border-radius:3px;
        white-space: nowrap;
    }

      html .pl { white-space: normal; }
    
    .types {
        margin-bottom: 20px
    }
    .types span {
        display: inline-block;
        margin: 5px 10px 5px 0;
        min-width: 36px;
    }
  
        .box_chart_num {
            font-size: 11px;
            color: #494949;
        }
    
        .movie_top ul li div.name { width: 240px; }
    
        #douban-top250 h2 span{font-size:12px;margin-left:12px;}
        #douban-top250 .douban-top250-bd{font-size:0;letter-spacing:-0.31em;*letter-spacing:normal;}
        #douban-top250 dl{font-size:13px;display:inline-block;*display:inline;zoom:1;letter-spacing:normal;text-align:center;width:75px;overflow:hidden;vertical-align:top;margin:0 0 10px 0;}
        #douban-top250 dt{width:65px;margin:0 auto 8px;height:100px;overflow:hidden;}
    </style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=movie" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>豆瓣电影排行榜</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    <h2>豆瓣新片榜   · · · · · · </h2>
    <div class="indent">
        





<div class="">
    <p class="ul first"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36173819/"  title="来福大酒店">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2909005405.jpg" width="75" alt="来福大酒店" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36173819/"  class="">
                        来福大酒店
                        / <span style="font-size:13px;">Life Hotel</span>
                    </a>



                    <p class="pl">2024-06-28(中国大陆) / 黄轩 / 柳岩 / 刘洋 / 张哲华 / 董宝石 / 李晓川 / 葛四 / 任洛敏 / 徐小飒 / 王飞 / 节冰 / 中国大陆 / 刘博文 / 2024-06-01 / 118分钟 / 剧情 / 喜剧 / 爱情 / 姚冠辰 Guanchen Yao / 刘博文 Bowen Liu / 汉语普通话</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar35"></span>
                                <span class="rating_nums">7.2</span>
                                <span class="pl">(10487人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36173819"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/35898983/"  title="职业杀手">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2908994553.jpg" width="75" alt="职业杀手" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/35898983/"  class="">
                        职业杀手
                        / <span style="font-size:13px;">当杀手恋爱时(台) / 情迷假杀手</span>
                    </a>



                    <p class="pl">2023-09-05(威尼斯电影节) / 2024-06-07(美国网络) / 格伦·鲍威尔 / 阿德里娅·阿霍纳 / 奥斯丁·阿梅里奥 / 瑞塔·希尔丽夫 / 桑杰伊·拉奥 / 莫莉·伯纳德 / 埃文·霍茲曼 / 格拉伦·布莱恩特·班克斯 / 麦克·马科夫 / 布莱恩特·卡罗尔 / 恩里克·布什...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar35"></span>
                                <span class="rating_nums">7.0</span>
                                <span class="pl">(12476人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_35898983"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/35095466/"  title="彷徨之刃">
                        <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2908008429.jpg" width="75" alt="彷徨之刃" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/35095466/"  class="">
                        彷徨之刃
                        / <span style="font-size:13px;">彷徨之刃中国版 / Hovering Blade</span>
                    </a>


                        <span style="font-size: 13px; padding-left: 3px; color: #00A65F;">[可播放]</span>

                    <p class="pl">2024-05-17(中国大陆) / 王千源 / 王景春 / 齐溪 / 张宥浩 / 王天辰 / 周政杰 / 阿如那 / 吴双 / 郭世栋 / 中国大陆 / 陈卓 / 2024-05-03 16:17 / 107分钟 / 剧情 / 犯罪 / 悬疑 / 杨薇薇 Weiwei Yang / 李佳颖 Carol Li / 徐翔云 Xiangyun Xu / 陈卓 Zhuo Chen / 汉语普通话...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar30"></span>
                                <span class="rating_nums">6.0</span>
                                <span class="pl">(24500人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_35095466"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36149032/"  title="我们一起摇太阳">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2904467472.jpg" width="75" alt="我们一起摇太阳" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36149032/"  class="">
                        我们一起摇太阳
                        / <span style="font-size:13px;">人间喜事 / 人生大事2</span>
                    </a>


                        <span style="font-size: 13px; padding-left: 3px; color: #00A65F;">[可播放]</span>

                    <p class="pl">2024-02-10(中国大陆点映) / 2024-03-30(中国大陆) / 彭昱畅 / 李庚希 / 徐帆 / 高亚麟 / 刘丹 / 王迅 / 宋伊人 / 刘迅 / 李晨 / 杨玏 / 李建义 / 李晓川 / 陈玺旭 / 王守阳 / 韩知朗 / 中国大陆 / 中国香港 / 韩延 / 129分钟 / 剧情 / 爱情 / 家庭 / 韩延...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar40"></span>
                                <span class="rating_nums">8.0</span>
                                <span class="pl">(152839人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36149032"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36016451/"  title="制暴">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2909070566.jpg" width="75" alt="制暴" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36016451/"  class="">
                        制暴
                        / <span style="font-size:13px;">Curbing Violence</span>
                    </a>


                        <span style="font-size: 13px; padding-left: 3px; color: #00A65F;">[可播放]</span>

                    <p class="pl">2024-06-06(中国大陆网络) / 蒋璐霞 / 包贝尔 / 谢苗 / 赵夕汐 / 高毅 / 张梦露 / 伊米娜 / 郑伟 / 刘超 / 中国大陆 / 秦鹏飞 / 100分钟 / 动作 / 犯罪 / 孟巧乐 / 汉语普通话</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar25"></span>
                                <span class="rating_nums">5.2</span>
                                <span class="pl">(7581人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36016451"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/26586556/"  title="绝地战警：生死与共">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2908796507.jpg" width="75" alt="绝地战警：生死与共" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/26586556/"  class="">
                        绝地战警：生死与共
                        / <span style="font-size:13px;">绝地战警4 / 两个鬼佬4</span>
                    </a>



                    <p class="pl">2024-06-07(美国) / 2024-06-22(中国大陆) / 威尔·史密斯 / 马丁·劳伦斯 / 亚历山大·路德韦格 / 凡妮莎·哈金斯 / 埃里克·迪恩 / 葆拉·努涅斯 / 蕾亚·塞洪 / 塔莎·史密斯 / 乔·潘托里亚诺 / 艾恩·格拉法德 / 梅兰妮·利伯德 / 珍娜·凯内尔...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar35"></span>
                                <span class="rating_nums">6.5</span>
                                <span class="pl">(7944人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_26586556"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36319595/"  title="窗边的小豆豆">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2899309776.jpg" width="75" alt="窗边的小豆豆" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36319595/"  class="">
                        窗边的小豆豆
                        / <span style="font-size:13px;">Totto-Chan: The Little Girl at the Window</span>
                    </a>



                    <p class="pl">2023-12-08(日本) / 大野莉莉亚 / 役所广司 / 小栗旬 / 杏 / 泷泽凯伦 / 日本 / 八锹新之介 / 114分钟 / 窗边的小豆豆 / 剧情 / 喜剧 / 动画 / 八锹新之介 Shinnosuke Yakuwa / 铃木洋介 / 日语 / 德语</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar40"></span>
                                <span class="rating_nums">8.4</span>
                                <span class="pl">(4809人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36319595"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36765646/"  title="蓦然回首">
                        <img src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2907030741.jpg" width="75" alt="蓦然回首" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36765646/"  class="">
                        蓦然回首
                        / <span style="font-size:13px;">Look Back</span>
                    </a>



                    <p class="pl">2024-06-10(安纳西国际动画电影节) / 2024-06-14(上海国际电影节) / 2024-06-28(日本) / 河合优实 / 吉田美月喜 / 日本 / lookback-anime.com / 押山清高 / 62分钟 / 蓦然回首 / 动画 / 押山清高 Oshiyama Kiyotaka / 日语</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar45"></span>
                                <span class="rating_nums">8.8</span>
                                <span class="pl">(1335人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36765646"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/35240117/"  title="草木人间">
                        <img src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2905611921.jpg" width="75" alt="草木人间" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/35240117/"  class="">
                        草木人间
                        / <span style="font-size:13px;">钱塘茶人 / 卷二钱塘</span>
                    </a>


                        <span style="font-size: 13px; padding-left: 3px; color: #00A65F;">[可播放]</span>

                    <p class="pl">2023-10-28(东京国际电影节) / 2024-04-03(中国大陆) / 吴磊 / 蒋勤勤 / 陈建斌 / 王佳佳 / 闫楠 / 吴彼 / 王宏伟 / 钱坤 / 鞠帛展 / 梁龙 / 五百 / 孙强 / 王川 / 马大智 / 吕星辰 / 陈禹同 / 陈佳宁 / 吴金鑫 / 杨棽 / 张楚文 / 李东甜 / 中国大陆...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar30"></span>
                                <span class="rating_nums">6.1</span>
                                <span class="pl">(79556人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_35240117"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/35335895/"  title="野兽">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2909040642.jpg" width="75" alt="野兽" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/35335895/"  class="">
                        野兽
                        / <span style="font-size:13px;">爱如困兽 / The Beast</span>
                    </a>



                    <p class="pl">2023-09-03(威尼斯电影节) / 2024-02-07(法国) / 蕾雅·赛杜 / 乔治·麦凯 / 古斯拉姬·马兰达 / 达莎·内克拉索娃 / 马丁·斯卡利 / 埃琳娜·勒文松 / 玛塔·霍斯金斯 / 朱莉娅·福雷 / 凯斯特·洛夫莱斯 / 菲利西安·皮诺 / 洛朗·拉科特 / 皮埃尔·弗朗索瓦·加雷尔...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar35"></span>
                                <span class="rating_nums">6.8</span>
                                <span class="pl">(5750人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_35335895"></div>
</div>


    </div>
    

            </div>
            <div class="aside">
                
    
  
  <div>
      <h2>分类排行榜 · · · · · ·<img style=" position: absolute;" src="https://img3.doubanio.com/cuphead/movie-static/pics/favicon/new_menu.gif"></h2>
      <div class="types">
          <span><a href="/typerank?type_name=剧情&type=11&interval_id=100:90&action=">剧情</a></span>
          <span><a href="/typerank?type_name=喜剧&type=24&interval_id=100:90&action=">喜剧</a></span>
          <span><a href="/typerank?type_name=动作&type=5&interval_id=100:90&action=">动作</a></span>
          <span><a href="/typerank?type_name=爱情&type=13&interval_id=100:90&action=">爱情</a></span>
          <span><a href="/typerank?type_name=科幻&type=17&interval_id=100:90&action=">科幻</a></span>
          <span><a href="/typerank?type_name=动画&type=25&interval_id=100:90&action=">动画</a></span>
          <span><a href="/typerank?type_name=悬疑&type=10&interval_id=100:90&action=">悬疑</a></span>
          <span><a href="/typerank?type_name=惊悚&type=19&interval_id=100:90&action=">惊悚</a></span>
          <span><a href="/typerank?type_name=恐怖&type=20&interval_id=100:90&action=">恐怖</a></span>
          <span><a href="/typerank?type_name=纪录片&type=1&interval_id=100:90&action=">纪录片</a></span>
          <span><a href="/typerank?type_name=短片&type=23&interval_id=100:90&action=">短片</a></span>
          <span><a href="/typerank?type_name=情色&type=6&interval_id=100:90&action=">情色</a></span>
          <span><a href="/typerank?type_name=音乐&type=14&interval_id=100:90&action=">音乐</a></span>
          <span><a href="/typerank?type_name=歌舞&type=7&interval_id=100:90&action=">歌舞</a></span>
          <span><a href="/typerank?type_name=家庭&type=28&interval_id=100:90&action=">家庭</a></span>
          <span><a href="/typerank?type_name=儿童&type=8&interval_id=100:90&action=">儿童</a></span>
          <span><a href="/typerank?type_name=传记&type=2&interval_id=100:90&action=">传记</a></span>
          <span><a href="/typerank?type_name=历史&type=4&interval_id=100:90&action=">历史</a></span>
          <span><a href="/typerank?type_name=战争&type=22&interval_id=100:90&action=">战争</a></span>
          <span><a href="/typerank?type_name=犯罪&type=3&interval_id=100:90&action=">犯罪</a></span>
          <span><a href="/typerank?type_name=西部&type=27&interval_id=100:90&action=">西部</a></span>
          <span><a href="/typerank?type_name=奇幻&type=16&interval_id=100:90&action=">奇幻</a></span>
          <span><a href="/typerank?type_name=冒险&type=15&interval_id=100:90&action=">冒险</a></span>
          <span><a href="/typerank?type_name=灾难&type=12&interval_id=100:90&action=">灾难</a></span>
          <span><a href="/typerank?type_name=武侠&type=29&interval_id=100:90&action=">武侠</a></span>
          <span><a href="/typerank?type_name=古装&type=30&interval_id=100:90&action=">古装</a></span>
          <span><a href="/typerank?type_name=运动&type=18&interval_id=100:90&action=">运动</a></span>
          <span><a href="/typerank?type_name=黑色电影&type=31&interval_id=100:90&action=">黑色电影</a></span>
      </div>
  </div>


    
    <div class="movie_top" id="ranking">
    <div class="movie_top" id="ranking">
        
    
    
    <h2>一周口碑榜· · · · · · <span class="box_chart_num color-gray">6月28日 更新</span></h2>
    <ul class="content" id="listCont2">
        <li class="clearfix">
            <div class="no">1</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/36090457/" class="">
                    头脑特工队2
                </a>
            </div>
            <span class="">
                    <div class="up">10</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">2</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/26656728/" class="">
                    泳者之心
                </a>
            </div>
            <span class="">
                    <div class="down">1</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">3</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/36319595/" class="">
                    窗边的小豆豆
                </a>
            </div>
            <span class="">
                    <div class="down">1</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">4</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/36193758/" class="">
                    特鲁瓦格罗餐厅
                </a>
            </div>
            <span class="">
                    <div class="down">1</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">5</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/26925611/" class="">
                    你想活出怎样的人生
                </a>
            </div>
            <span class="">
                    <div class="up">6</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">6</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/35744299/" class="">
                    再无可失
                </a>
            </div>
            <span class="">
                    <div class="down">1</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">7</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/36741506/" class="">
                    唯一的家园
                </a>
            </div>
            <span class="">
                    <div class="down">1</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">8</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/34996127/" class="">
                    疯狂的麦克斯：狂暴女神
                </a>
            </div>
            <span class="">
                    <div class="up">3</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">9</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/35516456/" class="">
                    屋顶上的女人
                </a>
            </div>
            <span class="">
                    <div class="up">2</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">10</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/36151170/" class="">
                    达达达达达利！
                </a>
            </div>
            <span class="">
                    <div class="down">2</div>
            </span>
        </li>
    </ul>

    </div>

    <div class="movie_top" id="ranking">
        
    
    <h2>北美票房榜· · · · · · <span class="box_chart_num color-gray">6月21日 更新 / 美元</span></h2>
    <ul class="content" id="listCont1">
            
                <li class="clearfix">
                    <div class="no">1</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/36090457/" class="">
                            头脑特工队2
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">1.00亿</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">2</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/26586556/" class="">
                            绝地战警：生死与共
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">1878万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">3</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/36044864/" class="">
                            摩托骑士
                        </a>
                                <img src="https://img1.doubanio.com/f/vendors/267048ed5190c4c6b513c2e559cae7ae8b8f0af5/pics/box_new.png" />
                    </div>
                    <span class="box_chart_num color-gray">1000万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">4</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/30377311/" class="">
                            加菲猫家族
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">360万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">5</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/36069854/" class="">
                            猩球崛起：新世界
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">360万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">6</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/34858077/" class="">
                            神秘友友
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">278万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">7</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/34883492/" class="">
                            驱魔
                        </a>
                                <img src="https://img1.doubanio.com/f/vendors/267048ed5190c4c6b513c2e559cae7ae8b8f0af5/pics/box_new.png" />
                    </div>
                    <span class="box_chart_num color-gray">244万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">8</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/36304130/" class="">
                            末路老奶
                        </a>
                                <img src="https://img1.doubanio.com/f/vendors/267048ed5190c4c6b513c2e559cae7ae8b8f0af5/pics/box_new.png" />
                    </div>
                    <span class="box_chart_num color-gray">221万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">9</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/36246315/" class="">
                            神秘窥视
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">194万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">10</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/36890962/" class="">
                            此刻降临
                        </a>
                                <img src="https://img1.doubanio.com/f/vendors/267048ed5190c4c6b513c2e559cae7ae8b8f0af5/pics/box_new.png" />
                    </div>
                    <span class="box_chart_num color-gray">152万</span>
                </li>
    </ul>

    </div>

    <!-- douban ad begin -->
    



<link rel="stylesheet" href="https://img3.doubanio.com/cuphead/movie-static/ad/mobile_app_ad.faa73.css">
<div class="mobile-app-entrance block5 app-movie">
    <a class="entrance-link" href="https://www.douban.com/doubanapp/frodo">
        <div class="entrance-qrcode">
            <img src="https://img2.doubanio.com/cuphead/movie-static/pics/douban_app_ad/qrcode.png" alt="扫码下载豆瓣 App" width="80" height="80" />
        </div>
        <div class="entrance-info">
            <span class="app-icon icon-movie"></span>
            <span class="main-title">豆瓣</span>
            <span class="sub-title">你的移动观影指南</span>
        </div>
    </a>
</div>

    <!-- douban ad end -->

        <div class="indent">
            
    <div id="douban-top250">
        <div class="douban-top250-hd">
            <h2>豆瓣电影TOP250
                <span>
                    <a href="https://movie.douban.com/top250">全部&nbsp;</a>
                </span>
            </h2>
        </div>
        <div class="douban-top250-bd">
            
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1306861/?from=top250">
                    <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p652417775.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1306861/?from=top250" class="">
                    我是山姆
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1298624/?from=top250">
                    <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2550757929.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1298624/?from=top250" class="">
                    闻香识女人
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291585/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1917567652.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291585/?from=top250" class="">
                    风之谷
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1457217/?from=top250">
                    <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p443403700.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1457217/?from=top250" class="">
                    哈利·波特与凤凰社
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291571/?from=top250">
                    <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2197698335.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291571/?from=top250" class="">
                    指环王1：护戒使者
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/25724855/?from=top250">
                    <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2259715855.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/25724855/?from=top250" class="">
                    房间
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/5300054/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2549558913.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/5300054/?from=top250" class="">
                    波西米亚狂想曲
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1297518/?from=top250">
                    <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p648370300.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1297518/?from=top250" class="">
                    九品芝麻官
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1292064/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p479682972.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1292064/?from=top250" class="">
                    楚门的世界
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1292262/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p477229647.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1292262/?from=top250" class="">
                    美国往事
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/6985810/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1546987967.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/6985810/?from=top250" class="">
                    狩猎
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291557/?from=top250">
                    <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1910828286.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291557/?from=top250" class="">
                    花样年华
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>

        </div>
    </div>
    

        </div>
    </div>

            </div>
            <div class="extra">
                
    <!-- douban ad begin -->
    <div id="dale_movie_chart_bottom_banner"></div>
    <!-- douban ad end -->

            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
        
        
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/f/vendors/e8a7261937da62636d22ca4c579efc4a4d759b1b/css/ui/dialog.css" />
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.b2f60.css" />
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js"></script>
    <script type="text/javascript">
        var HTTPS_DB = "https://www.douban.com"
    </script>
    <script type="text/javascript" src="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.7f2b9.js"></script>

    
    <!-- douban ad begin -->
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = '--5bCnIyfyk',
            criteria = '3:/chart?type=24&amp;interval_id=100%3A90&amp;action=&amp;start=0&amp;limit=20',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_chart_bottom_banner'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/bG90MDZqMy9mL2FkanMvYzhmZjE5MGNhYzNkN2UyMWJjMTI3NzJlYWNkOWVkODZhMmFjMzdhMi9hZC5yZWxlYXNlLmpz?company_token=kX69T8w1wyOE-dale');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>







    <!-- douban ad end -->

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-5c8c95db4d-8hw76-->

  <script>_SPLITTEST=''</script>
</body>

</html>


